{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}

        <div class="container" >
                <div class="row">
                    <div class="gap"></div>
                    <div class="col-md-12">
                      {% if messages %}

                <div class="alert alert-success alert-dismissible">
                      <ul class="messages">
                          {% for message in messages %}
                          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                          {% endfor %}
                      </ul>
                    </div>
                      <div class="gap gap-small"></div>
                      {% endif %}


                    </div>

                </div>


                <form method = "GET" action = "{% url 'searchactivitylist' %}" autocomplete="off">
                                {% csrf_token %}
                                <div class="col-md-9">
                                <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-map-marker input-icon"></i>

                                    <label for="searchactivity" style="font-size: 20px;">Type Adventure and explore.</label>
                                    <input  type="text" id="searchactivity" name = "searchactivity" class="form-control" value = "{{request.GET.searchactivity}}"  placeholder="Type in activity or adventure of your interest"  style="background-color:#ffffff;" required/>
                                    <ul id="search-resultsactivity">
                                    </ul>
                                </div>
                              </div>
                              <div class="col-md-3">
                                <br>
                                <button class="btn btn-primary btn-lg" type="submit">Go Thrilling</button>
                              </div>
                </form>
                <div class="gap gap-small"></div>


                <button class="accordion" style="font-family: 'Spicy Rice' , cursive; letter-spacing: 1.5px; font-size: 22px;">Landbased Activities</button>
                <div class="panelhome2">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  <div class="row row-wrap">
                  {% for activity in adventure_landbased %}
                  <div class="col-md-4">
                      <div class="thumb">
                          <header class="thumb-header">
                              <a href="{% url 'singleadventure' pk1=activity.id %}" class="hover-img" >
                                  <img src="{{activity.logo}}" alt="Image Alternative text" title="hotel PORTO BAY SERRA GOLF library" style="max-height: 200px; max-width:auto;"/>
                                  <h4 class="hover-title-bottom-right hover-hold" style= "background-color: #ed8323; font-family: 'Anton', sans-serif;"> {{activity.title|title}}</h4>
                                  <h5 class="hover-title-center">Explore More</h5>
                              </a>

                          </header>

                      </div>
                  </div>
                  {% endfor %}
                </div>
                  </div>

                <button class="accordion" style="font-family: 'Spicy Rice' , cursive; letter-spacing: 1px; font-size: 22px; background-color:#79797b;">Waterbased Activities</button>
                <div class="panelhome2">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  <div class="row row-wrap">
                  {% for activity in adventure_waterbased %}
                  <div class="col-md-4">
                      <div class="thumb">
                          <header class="thumb-header">
                              <a class="hover-img" href="{% url 'singleadventure' pk1=activity.id %}">
                                  <img src="{{activity.logo}}" alt="Image Alternative text" title="hotel PORTO BAY SERRA GOLF library" style="max-height: 200px; max-width:auto;"/>
                                  <h4 class="hover-title-bottom-right hover-hold" style= "background-color: #ed8323; font-family: 'Anton', sans-serif;"> {{activity.title|title}}</h4>
                                  <h5 class="hover-title-center">Explore All</h5>
                              </a>
                          </header>

                      </div>
                  </div>
                  {% endfor %}
                </div>
                </div>

                <button class="accordion" style="font-family: 'Spicy Rice' , cursive; letter-spacing: 1px; font-size: 22px;">Airbased Activities</button>
                <div class="panelhome2">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                  <div class="row row-wrap">
                  {% for activity in adventure_airbased %}
                  <div class="col-md-4">
                      <div class="thumb">
                          <header class="thumb-header">
                              <a class="hover-img" href="{% url 'singleadventure' pk1=activity.id %}">
                                  <img src="{{activity.logo}}" alt="Image Alternative text" title="hotel PORTO BAY SERRA GOLF library" style="max-height: 200px; max-width:auto;"/>
                                  <h4 class="hover-title-bottom-right hover-hold" style= "background-color: #ed8323; font-family: 'Anton', sans-serif;">{{activity.title|title}}</h4>
                                  <h5 class="hover-title-center">Explore More</h5>
                              </a>
                          </header>

                      </div>
                  </div>
                  {% endfor %}
                </div>
                </div>
                <div class="gap gap-small"></div>
                <br>
                <script>
                var acc = document.getElementsByClassName("accordion");
                var i;

                for (i = 0; i < acc.length; i++) {
                  acc[i].addEventListener("click", function() {
                    this.classList.toggle("active");
                    var panel = this.nextElementSibling;
                    if (panel.style.maxHeight){
                      panel.style.maxHeight = null;
                    } else {
                      panel.style.maxHeight = panel.scrollHeight + "px";
                    }
                  });
                }
                </script>



            <div class="gap"></div>
        </div>


        {% include 'footer.html' %}

        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src="{% static 'js/slimmenu.js' %}"></script>
        <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
        <script src="{% static 'js/bootstrap-timepicker.js' %}"></script>
        <script src="{% static 'js/nicescroll.js' %}"></script>
        <script src="{% static 'js/dropit.js' %}"></script>
        <script src="{% static 'js/ionrangeslider.js' %}"></script>
        <script src="{% static 'js/icheck.js' %}"></script>
        <script src="{% static 'js/fotorama.js' %}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
        <script src="{% static 'js/typeahead.js' %}"></script>
        <script src="{% static 'js/card-payment.js' %}"></script>
        <script src="{% static 'js/magnific.js' %}"></script>
        <script src="{% static 'js/owl-carousel.js' %}"></script>
        <script src="{% static 'js/fitvids.js' %}"></script>
        <script src="{% static 'js/tweet.js' %}"></script>
        <script src="{% static 'js/countdown.js' %}"></script>
        <script src="{% static 'js/gridrotator.js' %}"></script>
        <script src="{% static 'js/custom.js' %}"></script>
    </div>


{% endblock %}
