{% extends 'base2.html' %}
{% load staticfiles %}
{% block body %}
<div class="container" style="background-color: white;>

    <div id="popup-gallery">

        <div class="row">
          <div class="col-md-8 col-xs-12" ">
            <br><br>
            <h3 style="font-family: 'Teko', sans-serif; text-align: center;">{{article.title}}</h3>
            {% for single_post in post_list %}

              <div style="text-align:center; padding-top: 15px;">
                <div class="thumb">
                  <div class="row">
                  <div class="col-md-12">
                    <header class="thumb-header">
                        <a class="hover-img" href="#">
                            <div class="imagepersonal" style="background-image:url('{{single_post.image}}'); max-width: 500px; max-height:auto;"></div>
                        </a>
                    </header>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="thumb-caption">

                        <h4 class="thumb-title" style="font-family: 'Teko', sans-serif; text-align: center;"><a class="text-darken" href="#">{{single_post.title}}</a></h4>

                        <p class="thumb-desc" style="font-family: 'Roboto', sans-serif; font-size: 16px;">{{single_post.description | safe}}</p>

                    </div>
                  </div>
                </div>
                </div>

            </div>

            {% endfor %}

          </div>

          <div class="col-md-4 col-xs-12">
            <br><br>
              <aside class="sidebar-right">
                <div class="sidebar-widget">
                    <h4>Facebook</h4>
                    <div class="fb-like-box" data-href="https://www.facebook.com/HowdyHighlands" data-colorscheme="light" data-show-faces="1" data-header="1" data-show-border="1" data-width="320"></div>
                </div>

                  <div class="sidebar-widget">
                      <div class="Form">
                          <input class="form-control" placeholder="Search..." type="text" />
                      </div>
                  </div>
                  <div class="sidebar-widget">
                      <h4>Categories</h4>
                      <ul class="nav nav-pills" style="margin: 5px auto;">
                        {% for singletag in article.tag.all %}
                        <li class="active"><a href="{% url 'articletaglist' pk=singletag.id %}" style="margin: 5px 2px; padding: 2px 10px; border: 1px solid #2066c4; border-radius: 20px; background-color: white; color:#2066c4; font-size: 15px;">#{{singletag.title}}</a></li>
                        {% endfor %}
                      </ul>
                  </div>
                  <div class="sidebar-widget">
                      <h4>Popular Posts</h4>
                      <ul class="thumb-list">
                        {% for postarticle in popular_article %}
                          <li>
                              <a href="{% url 'postdetail' postarticle.id %}">
                                  <img src="{{postarticle.logo}}" alt="Image Alternative text" title="Viva Las Vegas" />
                              </a>
                              <div class="thumb-list-item-caption">

                                  <h5 class="thumb-list-item-title" style="font-size: 16px;"><a href="{% url 'postdetail' postarticle.id %}">{{postarticle.title}}</a></h5>
                                  <p class="thumb-list-item-meta" style="font-size: 12px; color: black;"> <i class="fa fa-clock-o"></i><span style="margin-left: 4px;"> {{postarticle.date_published}}</span></p>
                                  <p class="thumb-list-item-desciption">{{postarticle.head_description|truncatewords:10|safe}}</p>
                              </div>
                          </li>
                          {% endfor %}
                      </ul>
                  </div>

              </aside>
          </div>

          </div>
        </div>
    </div>
</div>
</div>
{% include 'footer.html' %}

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/slimmenu.js' %}"></script>
<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/bootstrap-timepicker.js' %}"></script>
<script src="{% static 'js/nicescroll.js' %}"></script>
<script src="{% static 'js/dropit.js' %}"></script>
<script src="{% static 'js/ionrangeslider.js' %}"></script>
<script src="{% static 'js/icheck.js' %}"></script>
<script src="{% static 'js/fotorama.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script src="{% static 'js/typeahead.js' %}"></script>
<script src="{% static 'js/card-payment.js' %}"></script>
<script src="{% static 'js/magnific.js' %}"></script>
<script src="{% static 'js/owl-carousel.js' %}"></script>
<script src="{% static 'js/fitvids.js' %}"></script>
<script src="{% static 'js/tweet.js' %}"></script>
<script src="{% static 'js/countdown.js' %}"></script>
<script src="{% static 'js/gridrotator.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
{% endblock %}
