{% extends 'base2.html' %}
{% load staticfiles %}
{% block body %}


        <div class="container" style="background-color: white;">
          {% if messages %}
          <div class="gap gap-small"></div>
          <div class="alert alert-success alert-dismissible">
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
          </div>
          <div class="gap gap-small"></div>
          {% endif %}

          <div class="gap gap-small"></div>

            <ul class="breadcrumb">
                <li><a href="index.html">Home</a>
                </li>
                <li><a href="#">Destinations</a>
                </li>
                <li class="active"><a href="#">{{destinationtitle|title}}</a>
                </li>

            </ul>
            <div class="gap gap-small"></div>
            <div class="row">
              <form method = "GET" action = "{% url 'searchdestinationlist' %}" autocomplete="off">
                            {% csrf_token %}
                            <div class="col-md-9">
                            <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-map-marker input-icon"></i>

                                <label for="searchdestination" style="font-size: 20px;">Type Destination and explore.</label>
                                <input  type="text" id="searchdestination" name = "searchdestination" class="form-control" value = "{{request.GET.searchdestination}}"  placeholder="Type in Destination"  style="background-color:#ffffff;" required/>
                                <ul id = "search-results">
                                </ul>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <br>
                            <button class="btn btn-primary btn-lg" type="submit">Go Tripping</button>
                          </div>
            </form>
          </div>
            <div class="row">

                <div class="col-md-12">

                    <h4 class="booking-title" style="margin-bottom: 3px;"> {{ count }} package found for your destination</h4>
                    <ul class="booking-list">
                      {% for package in destination_search %}
                      <li style="margin-bottom: 30px;">
                          <div class="card" style="padding: 4px; border: 3px solid #e6e5e5;">

                              <div class="row">
                                  <div class="col-md-4 col-xs-12">
                                      <div class="booking-item-img-wrap">
                                          <img src={{package.logo.url}} alt="Image Alternative text" title="LHOTEL PORTO BAY SAO PAULO suite lhotel living room" />
                                          <div class="booking-item-img-num"><i class="fa fa-picture-o"></i>28</div>
                                      </div>
                                  </div>

                                <div class="col-md-5 col-xs-12">
                                      <br>
                                      <div class="row">
                                        <div class="col-xs-12">

                                        <h4 class="booking-item-title" style="margin-top: 0px; color: #1a0dab">{{package.title}} - <small>from </small><span style="color: #626262; font-size: 18px;">₹ {{package.price_for_one}}</span><span style="color: #626262; font-size: 14px;">/person</span></h4>
                                        <h5 class="booking-item-title"> <b>( {{package.duration}}</b> Days/ <b>{{package.duration_nights}}</b>Nights )</h5>

                                        </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-xs-12">


                                    <strong>Inclusions:</strong>
                                    <ul class="booking-item-features booking-item-features-rentals booking-item-features-sign" style="margin-bottom: 5px;">
                                      {% for inclusion in package.inclusions.all %}
                                      <li rel="tooltip" data-placement="top" title="{{inclusion.title}}"><img src="{{inclusion.icon.url}}" style="max-width: 50px; max-height: 50px;">
                                      </li>
                                      {% endfor %}

                                    </ul>

                                  </div>
                                  </div>
                                      <span class="desktop-only-destination-headdesc" style= "font-family: 'Roboto', arial, helvetica, sans-serif; color: #000000d6; font-size: 15px;">{{package.head_description|safe|truncatewords:35 }}</span>
                                </div>

                                <div class="col-md-3 col-xs-12">
                                    <div class="row">
                                      <div class="col-md-12 col-xs-12">
                                      <br>
                                      <strong style="font-size: 18px;">Highlights:</strong>
                                      <ul class="nav nav-pills">
                                        {% for highlight in package.highlights.all %}
                                        <li><a href="#" style="margin: 5px 2px; padding: 2px 10px; border: 1px solid #6481a8; border-radius: 20px; background-color: white; color:#6481a8; font-size: 13px;">{{highlight.title}}</a></li>
                                        {% endfor %}

                                      </ul>

                                    </div>
                                    </div>


                                    <div class="gap gap-small">

                                  <div class="row">
                                    <div class="col-md-12 col-xs-12">

                                      <a href="{% url 'destinationdetails' package.id %}">  <span class="btn btn-primary" style="margin-right:10px;">Book Now</span></a>
                                      <span class="btn btn-primary" style="background-color: #503e77c9; border-color: #503e77c9;" data-toggle="modal" data-target="#myModal2{{package.id}}">Send Enquiry</span></a>
                                  </div>
                                </div>
                                </div>

                              </div>
                          </div>
                      </li>
                      <div class="modal fade" id="myModal2{{package.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header" style="padding: 0px 0px;">
                              <button type="button" class="close" data-dismiss="modal" style="margin: 2px 8px; font-size: 25px; color: white;"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                              <div style="background-color:#4675d4;"><br>
                                <h4 class="modal-title" id="myModalLabel" style="text-align: center; margin: 5px 5px; color: white;">Enquire for {{package.title|title}}
                                </h4><br>
                              </div>
                            </div>
                            <div class="modal-body">
                              <h4>Just fill in the following details and we'll get back to you.</h4>
                              <form method= "POST" action="{% url 'hotsellingquery' id=package.id %}">
                                {% csrf_token %}
                                  <div class="form-group form-group-icon-left"><i class="fa fa-user input-icon input-icon-show"></i>
                                      <label>Full Name</label>
                                      <input class="form-control" name="user_hotsell" placeholder="e.g. John Doe" type="text" required/>
                                  </div>
                                  <div class="form-group form-group-icon-left"><i class="fa fa-envelope input-icon input-icon-show"></i>
                                      <label>Email</label>
                                      <input class="form-control" name="email_hotsell" placeholder="e.g. johndoe@gmail.com" type="email" required/>
                                  </div>
                                  <div class="form-group form-group-icon-left"><i class="fa fa-phone input-icon input-icon-show"></i>
                                      <label>Phone Number</label>
                                      <input class="form-control" name="phone_hotsellbook" placeholder="e.g. 88888885555-" type="text"/>
                                  </div>


                                    <div class="input-daterange" data-date-format="MM d, D">
                                        <div class="row">
                                            <div class="col-xs-6">

                                                <div class="form-group form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-hightlight"></i>
                                                    <label>Check In</label>
                                                    <input class="form-control" name="start" type="text" />
                                                </div>
                                            </div>

                                            <div class="col-xs-6">
                                                <div class="form-group form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-hightlight"></i>
                                                    <label>Check Out</label>
                                                    <input class="form-control" name="end" type="text" />
                                                </div>
                                          </div>

                                        </div>
                                      </div>

                                      <div class="row">
                                        <div class="col-xs-6">
                                          <div class="form-group form-group-icon-left"><i class="fa fa-users input-icon input-icon-show"></i>
                                              <label>Number of People</label>
                                              <input class="form-control" name="num_people_hotselling" placeholder="e.g. 8" type="text"/>
                                          </div>
                                        </div>
                                        <div class="col-xs-6">
                                          <div class="form-group form-group-icon-left"><i class="fa fa-map-marker input-icon input-icon-show"></i>
                                              <label>Your Starting City:</label>
                                              <input class="form-control" name="starting_point" placeholder="e.g. New Delhi" type="text"/>
                                          </div>
                                        </div>
                                      </div>

                                  <div class="form-group form-group-icon-left"><i class="fa fa-lock input-icon input-icon-show"></i>
                                      <label>Your Query</label>

                                      <textarea class="form-control" name ="query_hotsell"rows="4" cols="65" placeholder="Ask anything and leave your tripping on us...." required>
                                      </textarea>
                                  </div>
                                  <input class="btn btn-primary" type="submit" value="Submit Query" style="width: 100%; padding: 20px; background-color: #009688;"/>
                              </form>

                            </div>
                          </div>
                        </div>
                      </div>
                        {% endfor %}
                      </ul>
              <div class="row">
                <div class="col-md-12 col-sm-12">
                {% if activity_related %}
                  <h3 style="margin-left: 15px;">Things To Do near {{destinationtitle}}</h3>
                  <ul class="booking-list">


                      {% for items in activity_related %}
                      <div class="col-md-3">
                        <li>
                            <div class="card">

                                <div class="row">

                                    <div class="col-md-12">
                                        <div class="booking-item-img-wrap">
                                            <img src="{{items.logo.url}}" alt="Image Alternative text" title="LHOTEL PORTO BAY SAO PAULO suite lhotel living room" style="max-height: 220px;"/>
                                            <div class="booking-item-img-num"><i class="fa fa-picture-o"></i>28</div>
                                        </div>
                                    </div>
                                  </div>

                                <div class="row" style="margin-top: 5px; padding: 5px;">
                                    <div class="col-md-12">

                                        <h4 class="booking-item-title">{{items.title}}<small> - from </small><span style="font-size: 15px;"> Rs. {{items.price_per_person}}</span></h4>
                                          <div class="booking-item-rating">Difficulty :
                                              <ul class="icon-group booking-item-rating-stars">
                                                {% for i in "x"|rjust:items.level_of_difficulty_on_5 %}
                                                  <li> <i class="fa fa-star"></i>
                                                  </li>
                                                {% endfor %}

                                                  <li><i class="fa fa-star-o"></i>
                                                  </li>

                                              </ul><span class="booking-item-rating-number"><b >{{items.level_of_difficulty_on_5}}</b> of 5</span>
                                          </div>
                                          <span style="float: right;">
                                          <a href="{% url 'activitysinglepackage' pk1=items.id%}">  <span class="btn btn-primary">Book Now</span></a>
                                        </span>
                                    </div>

                                </div>
                                <div class="row" style="margin-top: 3px;">
                                  <div class="col-sm-8">

                                  </div>

                                    <div class="col-md-4">

                                    </div>
                                </div>
                             </div>
                           </li>
                        </div>
                      {% endfor %}
                    </ul>
                    {% endif %}
                  </div>
                </div>

                {% if article_destination %}
                <h3 style="margin-left: 15px;">Articles about {{destinationtitle}}</h3>
                {% endif %}
                {% for single_article in article_destination %}

                <div class="col-md-4">
                  <div class="thumbnail" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-width: 0px;  padding-bottom: 5px;">
                    <div class="thumb">
                        <header class="thumb-header">
                            <a class="hover-img" href="{% url 'postdetail' single_article.id %}">
                                <div class="imagepersonal" style="background-image:url('{{single_article.logo}}');"></div>



                                <h5 class="hover-title-center" style= "background-color: #2066c4;">Read More...</h5>
                            </a>
                        </header>
                        <div class="thumb-caption" style="padding: 10px 10px;">
                            <p style="font-size: 16px; color: black;"> <i class="fa fa-clock-o"></i><span style="margin-left: 4px;"> {{single_article.date_published}}</span></p>

                            <h4 class="thumb-title" style="font-family: 'Titillium Web', sans-serif; font-weight:500;">{{single_article.title}}</h4>
                            <ul class="nav nav-pills" style="margin: 5px auto;">
                              {% for singletag in single_article.tag.all %}
                              <li><a href="#" style="margin: 5px 2px; padding: 2px 10px; border: 1px solid #6481a8; border-radius: 20px; background-color: white; color:#6481a8; font-size: 15px;">
                                #{{singletag.title}}
                                </a>
                              </li>
                              {% endfor %}

                            </ul>
                            <p class="thumb-desc" style="font-family: 'Roboto', arial, helvetica, sans-serif; font-size: 14px;  ">{{single_article.head_description|truncatewords:20|safe}}</p>
                            <span style="float: right;"><a href="{% url 'postdetail' single_article.id %}" class="btn btn-primary btn-md" style="margin-right: 5px; background-color: white; border-color: white; color: grey;">Read More ></a></span>
                        </div>
                    </div>

                </div>
                </div>
                  {% endfor %}
            </div>
            <div class="gap"></div>
        </div>
      </div>

    </div>

        {% include 'footer.html' %}

        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src="{% static 'js/slimmenu.js' %}"></script>
        <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
        <script src="{% static 'js/bootstrap-timepicker.js' %}"></script>
        <script src="{% static 'js/nicescroll.js' %}"></script>
        <script src="{% static 'js/dropit.js' %}"></script>
        <script src="{% static 'js/ionrangeslider.js' %}"></script>
        <script src="{% static 'js/icheck.js' %}"></script>
        <script src="{% static 'js/fotorama.js' %}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
        <script src="{% static 'js/typeahead.js' %}"></script>
        <script src="{% static 'js/card-payment.js' %}"></script>
        <script src="{% static 'js/magnific.js' %}"></script>
        <script src="{% static 'js/owl-carousel.js' %}"></script>
        <script src="{% static 'js/fitvids.js' %}"></script>
        <script src="{% static 'js/tweet.js' %}"></script>
        <script src="{% static 'js/countdown.js' %}"></script>
        <script src="{% static 'js/gridrotator.js' %}"></script>
        <script src="{% static 'js/custom.js' %}"></script>



{% endblock %}
